.book-a-call {
    padding-top: 100px;
    padding-bottom: 50px;
    background: rgba(32, 32, 32, 1);


    .book-a-call__btn {
        border: 1px solid rgba(242, 242, 242, 1);
        border-radius: 139px;
        padding: 42px 137px;
        margin: 0 auto;
        display: flex;
        width: auto;

        @media (max-width:$ui-brackepoint--lg) {}

        @media (max-width:$ui-brackepoint--xxl) {
            padding: 21px 42px;

        }

        @media (max-width:$ui-brackepoint--md) {
            padding: 10px 21px;
        }
    }

    .book-a-call__content {
        display: flex;
    }

    .dawn {
        width: 108px;
        height: 108px;


        @media (max-width:$ui-brackepoint--md) {
            width: 52px;
            height: 51px;
            padding: 12px 0;
            padding-left: 20px;
        }
    }

    .book-a-call__text {
        margin-left: auto;
    }

    .book-a-call__btn-title {
        font-family: $ui-font-dynapuff;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        padding-bottom: 20px;

        @media (max-width:$ui-brackepoint--md) {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }
    }

    .book-a-call__btn-subtitle {
        font-family: $ui-font-manrope;
        font-size: 24px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);

        @media (max-width:$ui-brackepoint--md) {
            font-size: 19px;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .arrow-left {
        position: relative;
        top: 8px;
        left: 10px;

        @media (max-width:$ui-brackepoint--md) {
            width: 32.79px;
            height: 15.5px;
            top: 2px;
        }
    }


}