.footer {
    background: rgba(32, 32, 32, 1);
    padding-top: 100px;

    @media (max-width: $ui-brackepoint--lg) {
        padding-top: 30px;
    }

    @media (max-width: $ui-brackepoint--sm) {
        padding-top: 100px;
    }

    .footer__links-wrapper {
        display: flex;
        justify-content: center;
    }

    .footer__copyright {
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        padding: 20px 0;

        @media (max-width: $ui-brackepoint--sm) {
            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
        }
    }

    .footer__link {
        margin-left: 34px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }
}