.good-design {

    background-image: url(../../images/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;

    .good-design__title {
        font-family: $ui-font-dynapuff;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
        padding: 330px 0;

        @media (max-width:$ui-brackepoint--md) {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
        }
    }

}