.graphic {
    background: rgba(32, 32, 32, 1);

    .graphic__title {
        font-family: $ui-font-dynapuff;
        font-size: 80px;
        font-weight: 700;
        line-height: 96px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        padding-top: 80px;
        padding-bottom: 50px;

        @media (max-width: $ui-brackepoint--lg) {
            font-size: 80px;
            font-weight: 700;
            line-height: 96px;
        }

        @media (max-width: $ui-brackepoint--md) {
            font-size: 36px;
            font-weight: 700;
            line-height: 43px;
        }
    }

    .graphic__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-bottom: 110px;

        @media (max-width: $ui-brackepoint--md) {
            grid-template-columns: repeat(1, 1fr);

        }
    }

    .graphic__card {
        border-radius: 40px;
        width: auto;
        height: 414px;

        &:nth-child(1) {
            grid-column: 1/3;

            @media (max-width: $ui-brackepoint--md) {
                grid-column: 1/2;

            }
        }

        &--star {
            background-image: url(../../images/graphics-card-photo1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }

        &--butterfly {
            background-image: url(../../images/graphics-card-photo2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }

        &--asterisk {
            background-image: url(../../images/graphics-card-photo3.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }
    }

    .graphic-figure {
        display: block;

        &--star {
            margin: 70px auto;

            @media (max-width: $ui-brackepoint--lg) {
                width: 227px;
                height: 227px;
            }

            @media (max-width: $ui-brackepoint--md) {
                width: 172px;
                height: 172px;

            }
        }

        &--butterfly {
            margin: 110px auto;

            @media (max-width: $ui-brackepoint--lg) {
                width: 147px;
                height: 151px;
            }

            @media (max-width: $ui-brackepoint--md) {
                width: 134px;
                height: 137px;

            }
        }

        &--asterisk {
            margin: 94.5px auto;

            @media (max-width: $ui-brackepoint--lg) {
                width: 183px;
                height: 177px;
            }

            @media (max-width: $ui-brackepoint--md) {
                width: 148px;
                height: 143px;


            }
        }
    }
}