.header {
    background-color: rgba(32, 32, 32, 1);
    position: sticky;
    top: 0px;
    z-index: 1;

    .header__logo {
        width: 56px;
        height: 56px;
        margin: 18px 0;
    }

    .header__content {
        display: flex;
    }

    .header__nav {
        margin-left: auto;
    }

    .header__nav-list {
        display: flex;
        padding: 24px 0;
        gap: 20px;

        @media (max-width: $ui-brackepoint--md) {
            display: none;
        }
    }


    .header__burger-menu {
        margin: 18px 0;
        width: 56px;
        height: 56px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 1);
        display: none;

        @media (max-width: $ui-brackepoint--md) {
            display: block;
        }
    }

    .header__nav-btn {
        padding: 10px 16px;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .header__nav-link {
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    }

    .header__nav-logo {
        position: relative;
        top: 2px;
        padding-right: 10px;
    }
}