   .main-banner {
       background: linear-gradient(252.94deg, #FFEE32 -13.48%, #D6D6D6 125.48%);

       .main-banner__title {
           font-family: $ui-font-dynapuff;
           font-size: 80px;
           font-weight: 700;
           line-height: 96px;
           letter-spacing: 0em;
           text-align: left;
           color: rgba(255, 255, 255, 1);
           padding-top: 400px;
           padding-bottom: 110px;

           @media (max-width: $ui-brackepoint--sm) {
               font-size: 48px;
               font-weight: 700;
               line-height: 58px;
           }
       }
   }