.meet-alex {
    background-color: rgba(32, 32, 32, 1);
    background-image: url(../../images/atom.png);
    background-position: right center;
    background-repeat: no-repeat;

    @media (max-width: $ui-brackepoint--md) {
        background-image: url(../../images/atom-tablet.png);
    }

    @media (max-width: $ui-brackepoint--sm) {
        background-image: url(../../images/atom-mobile.png);
    }

    .meet-alex__content {
        padding: 100px 0;
        width: 540px;
        height: 267px;

        @media (max-width: $ui-brackepoint--sm) {
            width: 342px;
            height: 318px;
        }
    }

    .meet__title {
        font-family: $ui-font-dynapuff;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(250, 235, 73, 1);
    }

    .meet__subtitle {
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        padding: 40px 0;
    }

    .meet-alex__statistic-wrapper {
        display: flex;
        gap: 96px;

        @media (max-width: $ui-brackepoint--sm) {
            gap: 14px;
        }
    }

    .meet-alex__statistic-wrapper-title {
        font-family: $ui-font-dynapuff;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    }

    .meet-alex__statistic-wrapper-subtitle {
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    }
}