.project {
    background: rgba(60, 60, 60, 1);

    .project__card-img {
        max-width: 100%;

        @media (max-width:$ui-brackepoint--md) {
            width: 100%;
            height: 448px;
        }

        @media (max-width:$ui-brackepoint--sm) {
            width: 100%;
            height: 363px;
        }

    }

    .project__card-img--big {
        max-width: 100%;

        @media (max-width:$ui-brackepoint--md) {
            height: 498px;
        }

        @media (max-width:$ui-brackepoint--sm) {
            width: 100%;
            height: 278px;
        }

    }




    .project__wrapper {
        padding: 80px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        @media (max-width:$ui-brackepoint--md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:$ui-brackepoint--sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }



    .project__card {
        background: rgba(255, 254, 242, 1);
        border-radius: 24px;
        position: relative;
        width: 100%;

        &:nth-child(1) {
            grid-column: 1/4;

            @media (max-width:$ui-brackepoint--md) {
                grid-column: 1/3;
            }

            @media (max-width:$ui-brackepoint--sm) {
                grid-column: 1/2;
            }
        }

        &:nth-child(4) {
            @media (max-width:$ui-brackepoint--md) {
                display: none;
            }
        }

        &:nth-child(2) {
            @media (max-width:$ui-brackepoint--sm) {
                display: none;
            }
        }

    }



    .project__card-content {
        padding: 20px;

        &:nth-child(1) {
            @media (max-width:$ui-brackepoint--md) {
                width: 663px;
                height: 632px;
            }
        }
    }



    .project-card-title {
        font-family: $ui-font-dynapuff;
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(86, 86, 86, 1);
        padding-top: 10px;

        &--sm {
            font-size: 24px;
            font-weight: 700;
            line-height: 38px;
            width: auto;
        }
    }

    .project-card-subtitle {
        font-family: $ui-font-manrope ;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 15px;

        &--sm {
            font-weight: 500;
            width: auto;
        }
    }

    .project__card-button {
        position: absolute;
        background-color: white;
        border-radius: 360px;
        width: 56px;
        height: 56px;
        right: 40px;
        top: 40px;
    }

}