a {
    text-decoration: none;
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .container {
    max-width: 1058px;
    padding: 0 191px;
    margin: 0 auto;

    @media (max-width: $ui-brackepoint--xl) {
      max-width: 992px;
      padding: 0 34px;
    }
  
    @media (max-width: $ui-brackepoint--lg) {
      max-width: 768px;
    }
    
    @media (max-width: $ui-brackepoint--md) {
      max-width: 576px;
    }
  
    @media (max-width: $ui-brackepoint--sm) {
      max-width: 100%;
      padding: 0 17px;
    }
  
  }  