$ui-font-manrope: "Manrope", sans-serif;
$ui-font-dynapuff: "DynaPuff", sans-serif;

$ui-brackepoint--xxl: 1400px;
$ui-brackepoint--xl: 1224px;
$ui-brackepoint--lg: 992px;
$ui-brackepoint--md: 768px;
$ui-brackepoint--sm: 576px;